# No user preferences
userPreferences.*/

# No Trash
Project/Trash/

# No derived data
DerivedData/

# Special Folders
Code Analysis Logs/
Settings/

# No data
[dD][aA][tT][aA]/
Data/

# No logs
App Logs/
Logs/

Settings/buildApp.4DSettings

# System files
.DS_Store
ehthumbs.db
Thumbs.db
Libraries/lib4d-arm64.dylib